<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haizong.mybatis.example.UserMapper">
    <update id="createTable">
        CREATE TABLE users(id INT PRIMARY KEY, name VARCHAR(100));
    </update>
    <insert id="insertData">
        INSERT INTO users (id, name) VALUES (1, 'zh_CN'), (2, 'CA')
    </insert>
</mapper>